@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Noto+Naskh+Arabic&family=Noto+Sans+Arabic&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "feelfree";
    src: url("/public/fonts/feelfree/FeelfreeRegular")
            format("embedded-opentype"),
        /* IE6-IE8 */ url("/public/fonts/feelfree/FeelfreeRegular.ttf")
            format("truetype"),
        /* Safari, Android, iOS */
            url("/public/fonts/feelfree/FeelfreeRegular.woff") format("woff"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

/*  flip the letters when changeing the letters in the exercise page
    when the screen is letters
*/
.flip {
    transform: rotateX(360deg);
    transition: transform 0.5s;
}

/* markdown styling */

.markdown-container h1 {
    @apply mt-8 text-2xl font-black;
}

.markdown-container h2 {
    @apply mt-4 text-xl font-extrabold;
}

.markdown-container a {
    @apply text-kblue-400;
}
